.App {
  text-align: center;

}

.container {
  background-color: #003049;
}

.nav {
  background-color: transparent !important;
  box-shadow: none !important;
}

.burger-menu ul {
  background-color: #003049;
}

.link-tag {
  color: #EAE2B7;
  text-decoration: none;
}

.image {
  padding: 10px;
  width: 80px;
}

.card {
  padding: 5px;
}

.cardPage {
  width: 100%;
  height: 100vh;
  background-image: url("../media/RecipeBack.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.filterBox {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
}

.screen-recipe-fields {
  width: 300px;
  margin: 0 0 10px 0;
}

.background-home {
  width: 100%;
  height: 100vh;
  background-image: url("../media/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  overflow-x: hidden;
}

.home-text {
  color: #EAE2B7;
  position: relative;
  right: -10px;
  top: 20%;
  transform: translateY(-20%);
}

@media only screen and (max-width: 500px) {
  .cardPage {
    height: 100%;
  }

}

